/vendor
/themes
/profiles
/modules
/drush
/docroot
/acquia-pipelines.yml
.csslintrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.ht.router.php
.htaccess
.idea/
autoload.php
core/
index.php
libraries/
robots.txt
sites/
update.php
web.config